@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --dark-purple: #8E4CB6;
    --light-purple: #726CEE;
    --blue: #4BB1DA;
    --yellow: #EDD556;
    --medium-grey: #686868;
    --light-grey: #ADADAD;
    --almost-white: #FAFAFA;
    --white: #ffffff;
    --black: #151515;

    --ff: 'Epilogue', sans-serif;
    --fs-head-lg: 8rem;
    --fs-head-sm: 3.6rem;
    --fs-body-m: 1.8rem;
    --fs-body-sm: 1.6rem;
    --fs-body-xsm: 1.4rem;
    --fw-m: 500;
    --fw-b: 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}

  * {
    margin: 0;
    padding: 0;
}

  html {
    font-size: 62.5%;
}

  html, body {
    height: 100%;
}

  body {
    background-color: var(--almost-white);
    font-family: var(--ff);
    font-size: var(--fs-body-sm);
    font-weight: var(--fw-m);
    line-height: 1.5;
}

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

  input, button, textarea, select {
    font: inherit;
}

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.container {
  max-width: 90%;
  /* max-width: 34.4rem; */
  /* margin-inline: auto; */
  margin: 1.6rem;
}

.header {
  /* USeless??? */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.nav__items,
.nav__buttons {
  display: none;
}

.logo {
  cursor: pointer;
  /* to center it with hamburger */
  padding-top: 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__hamburger {
  cursor: pointer;
}

  /* Side menu */
.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--almost-white);
  min-height: 100%;
  width: 24rem;
  padding: 2.2rem;
}

  .close {
    margin-left: auto;
  }

  .side-menu__items {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
  }

  .side-menu__item {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    cursor: pointer;
  }

  .side-menu__item:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  .side-menu__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .side-menu__btn {
    color: inherit;
    text-decoration: none;
    padding: 1.3rem 4.1rem;
    width: 100%;
    text-align: center;
  }
   
  .side-menu__btn--no-border{
    border: none;
  }

  .side-menu__btn--border{
    border: 1.5px solid var(--medium-grey);
    border-radius: 14px;
  }

  .features-dropdown__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: .8rem 0 2.4rem 2.4rem;
    color: var(--medium-grey);
  }

  .features-dropdown__item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--medium-grey);
  }

  .company-dropdown__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: .8rem 0 2.4rem 2.4rem;
    color: var(--medium-grey);
  }
  
  .company-dropdown__items {
    
  }


.main {

}

.hero {

}

.hero__img {
  margin-top: 2.4rem;
}

.hero__content {
  margin: 4.8rem 0;
  text-align: center;
}

.hero__title {
  font-size: var(--fs-head-sm);
  color: var(--black);
  letter-spacing: -.5px;
  margin-bottom: 1.6rem;
  line-height: 1;
}

.hero__text {
  color: var(--medium-grey);
  margin: 1.6rem 0 2.4rem 0;
  line-height: 1.6;
}

.hero__cta {
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: 15px;
  cursor: pointer;
  padding: 1.2rem 2.4rem ;
  color: var(--almost-white);
  font-weight: var(--fw-b); 
  letter-spacing: -0.22px;
  transition: all .2s ease-in;
}

.hero__client-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4.8rem;
}

.hero__client-logos img:not(:last-child) {
  /* margin-right: 2.8rem; */
}

/* Client logos fixed height and width on mobile */
.databiz {
  max-width: 8.125rem;
  max-height: 1.4rem;
}

.audiophile {
  max-width: 5.2rem;
  max-height: 2.6rem;
}

.meet {
  max-width: 6.4rem;
  max-height: 1.4rem;
}

.maker {
  max-width: 5.89rem;
  max-height: 1.7rem;
}


/* TABLET - DESKTOP */

@media (min-width: 750px) {
  .main {
    
  }
  .container,
  .container-lg {
    max-width: 111rem;
    margin-inline: auto;
  }

  .container-xlg {
    max-width: 135rem;
    padding: 2rem;
  }

  .nav__hamburger {
    display: none;
  }

  .header {
    font-size: var(--fs-body-xsm);
    color: var(--medium-grey);
  }

  .nav {
    display: flex;
    justify-content: start;
  }

  .nav__items,
  .nav__buttons {
    display: flex;
  }

  .nav__items {
    margin-left: 6.2rem;
    display: flex;
    gap: 4rem;
  }

  .nav__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  .nav__buttons {
    margin-left: auto;
    display: flex;
    gap: 4rem;
  }

  .nav__btn {
    color: inherit;
    text-decoration: none;
    padding: 1.3rem 2.2rem;
    transition: all .1s ease-in;
  }

  .nav__btn:hover {
    color: var(--black);
  }
   
  .nav__btn--no-border{
    border: none;
  }

  .nav__btn--border{
    border: 1.5px solid var(--medium-grey);
    border-radius: 14px;
  }

  .nav__btn--border:hover {
    border: 1.5px solid var(--black);
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    gap: 12.5rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .hero__img {
    margin-top: 6.7rem;
  }

  .hero__content {
    margin: 18.4rem 0 11rem 0;
    text-align: left;
    font-size: var(--fs-body-m);
  }

  .hero__title {
    font-size: var(--fs-head-lg);
    letter-spacing: -1.11px;
  }

  .hero__cta:hover {
    background-color: var(--almost-white);
    border: 1px solid var(--black);
    color: var(--black);
  }

  .hero__client-logos img {
    max-width: none;
    max-height: none;
  }
}

























/* ALT TAGS TOEVOEGEN!!!! */

